<!--测试autofix, mini js,css-->
<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" type="text/css"> 
    <style>
      div{
        display: flex;
      }
    </style>
    <script>
      function hellworld(){
        console.log('ni hao!')
      }
    </script>
    <script type="template/handlebars">
      function hellworld(){
        console.log('ni hao!')
      }
    </script>
  </head>
  <body>This First NEW HBS Page</body>
</html>