{{!-- PAGE_DATA: hello --}}
<html>
  <head>
   <link rel="stylesheet" href="/css/index.css" type="text/css"> 
   <style>
     div{
       display: flex;
     }
   </style>
  </head>
  <body>This First HBS Page {{import "xxx" "111"}}</body>
</html>