@my-selector: banner;

@import "@{__global}import-test.less";
@import "module/relative/import-rel.less";
// Usage
.@{my-selector} {
  font-weight: bold;
  line-height: 40px;
  margin: 0 auto;
}

a{
  background-image: url("@{v}");
}

p{
  background-image: url("@{project}");
}