.import-test-autofixer,a{
  color:#428bca;
  display:flex
}
.import-widget{
  color:#fff;background:#428bca
}
.import-rel-test,b{
  color:#428bca
  }

.import-rel-widget{color:#fff;background:#428bca}

.banner{font-weight:700;line-height:40px;margin:0 auto}